<p>Hello <%= @data.employee_name %>, </p>
<p><%= @data.company_name %> has <b>approved</b> your money request of <%= if @data.currency == "GBP" do "£" end %><%= if @data.currency !== "GBP" do "#{@data.currency} "  end %><%= @data.amount %>, which has been successfully loaded to your card ending: <%= @data.card %>.<br>
Remarks:  <%= @data.company_reason %><br>
Regards,</p>

<p>The Viola Corporate Support Team.</p>